# Ignore Python cache
__pycache__/
*.py[cod]
*$py.class

# Ignore virtual environment
py310/

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore logs, outputs, and temp files
*.log
*.out
*.tmp

# Ignore system files
.DS_Store